################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SEDB-LITE/v15
/packages
/SEDB-LITE/bin/Debug
/SEDB-LITE/obj/Debug
